@use "../helpers" as *;

.bordered-grid {
	--columns: 1;
	--itemPaddingY: #{fluid(80, 40)};

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);

	&__2-cols {
		--columns: 2;
		--itemPaddingX: #{rem(80)};

		@include laptop {
			--itemPaddingX: #{rem(50)};
		}

		@include mobail {
			--columns: 1;
		}

		.bordered__grid-item {
			padding-top: fluid(60, 40);
			&:nth-child(odd) {
				padding-right: var(--itemPaddingX);
				border-right: var(--border);
			}

			&:nth-child(even) {
				@include full-vw-centered-line(bottom, auto, 100%, 50%);
				padding-left: var(--itemPaddingX);
			}
		}
	}

	&__3-cols {
		--columns: 3;
		--itemPaddingX: #{rem(50)};

		@include laptop {
			--itemPaddingX: #{rem(40)};
		}

		@include table-above {
			.bordered__grid-item {
				&:nth-child(3n - 2),
				&:nth-child(3n - 1) {
					padding-right: var(--itemPaddingX);
					border-right: var(--border);
				}

				// ЭЛЕМЕНТЫ во 2-ой колонке

				&:nth-child(3n - 1) {
					@include full-vw-centered-line(bottom);
				}

				&:nth-last-child(3n - 1),
				&:nth-child(1) {
					padding-left: var(--itemPaddingX);
				}

				padding-block: var(--itemPaddingY);
			}
		}

		@include table {
			--columns: 1;
		}
	}
}
